h2{
    color: goldenrod;
}

section{
    border-style: solid;
    padding: 10px;
    margin: 20px;
    width: 1350px;

}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-paragraph{
    font-family:  Helvetica;
}
h2{
    align-content: center;
}
button{
    /* position: relative; */
    background-color: aqua;
    width: 400px;
    color: red;
    height: 35px;
    text-emphasis: strong;
    /* align-self: ; */

}

nav{
    width: 859px;
    text-align: center;
    
    
}

.home-button{
    background-color: #7a12bf;
    color: white;
}

.what-we-do-button{
    background-color: #0dac2f;
    color: black;
 
}

#contact-button{
    background-color: rgb(234, 139, 15);
    color: black;
}

ul li{
    display: inline-block;
    padding-left: 70px;
    font-weight: bolder;
    
}

.nav-bar{
    background-color: #6a73f1;
    border-style: none;
    font-size: 29px;
}