h2{
    color: goldenrod;
}

section{
    border-style: solid;
    padding: 10px;
    margin: 20px;
    width: fit-content;
}

button{
    /* position: relative; */
    background-color: aqua;
    width: 400px;
    color: red;
    height: 35px;
    text-emphasis: strong;
    /* align-self: ; */

}

nav{
    width: 859px;
    text-align: center;
    
    
}

.home-button{
    background-color: #7a12bf;
    color: white;
}

.what-we-do-button{
    background-color: #0dac2f;
    color: black;

}

#contact-button{
    background-color: rgb(234, 139, 15);
    color: black;
}